.button {
  min-width: 250px;
  height: 40px;
  font-size: 18px;
  background-color: var(--white);
  color: var(--blue-primary);
  border: 1px solid var(--blue-primary);
  border-radius: 20px;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--blue-dark);
    color: var(--white);
  }
}
