.container {
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .input {
    border: none;
    height: 30px;
    font-size: 20px;
    border-bottom: 1px solid var(--blue-primary);
    outline: none;
    transition: all 0.2s ease;
  }

  .error {
    position: absolute;
    left: 11px;
    bottom: -20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--red-primary);
  }
}
